body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
}

@font-face {
    font-family: Open Sans;
    src: local(''), url(fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

h1 {
    font-size: 45px;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    border: 5px solid white;
}

.hover:hover {
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

tr:last-child td {
    border-bottom: 0;
}

button {
    background-color: white;
    color: #323232;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 50px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#players {
    margin: 30px 0 60px;
    display: flex;
    gap: 20px;
}

#currentPlayerCross, #currentPlayerCircle {
    padding: 10px;
}

.highlighted {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.highlightedWinner {
    background-color: rgba(236, 122, 8, 0.6);
    border-radius: 10px;
}

#mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#restartButtonContainer {
    position: absolute;
    top: 10px;
    right: 20px;
}